[run]
omit =
   conftest.py
   */virtualenvs/*
   */migrations/*
   *tests*
   *__init__.py*
   *settings/*
   *AppData*
   
[report]
omit =
   conftest.py
   */virtualenvs/*
   */migrations/*
   *tests*
   *__init__.py*
   *settings/*
   *AppData*