{% extends 'main/base.html' %}
{% block title %}PAF - Register{% endblock %}
{% block content %}
<body class='text-center'>
    <form class="form-signin" method='POST'>
        {% csrf_token %}
        <img class='mb-4' src="https://i.ibb.co/64TDMF1/Generals-Black-Market.jpg" alt="">
        <h1 class='h3 mb-3 font-weight-normal'>Create Your Account</h1>

        <label for="inputUsername" class='sr-only'>Username</label>
        <input type="text" id='inputUsername' class='form-control' placeholder='Type here your username' name='username' required autofocus>
        <br>

        <label for="inputPassword1" class='sr-only'>Password</label>
        <input type="password" id='inputPassword1' class='form-control' placeholder='Type here your password' name='password1' required autofocus>
        <br>

        <label for="inputPassword2" class='sr-only'>Password Confirmation</label>
        <input type="password" id='inputPassword2' class='form-control' placeholder='Confirm your password' name='password2' required autofocus>
        <br>

        <div class='checkbox mb-3'>
            <h6>Already Have An Accout?</h6>
            <a class='btn btn-sm btn-secondary'href="{% url 'login' %}">Sign In Here</a>
        </div>
        <button class='btn btn-lg btn-primary btn-block' type='sumbit'>Create Account</button>
    </form>    
</body>
{% endblock %}