{% extends 'learning_log/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Tracker</title>
</head>
<body>

{% block header %}
  <h1>Topics</h1>
{% endblock %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_log:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'learning_log:new_topic' %}">Add new topic</h3>

{% endblock content %}

</body>
</html>