<div class="grid grid-gap-2 md:grid-cols-3 md:gap-4">
  <div class="p-5">
    <div class="bg-teal-one shadow rounded-md">
      <h1 class="status-title">Total orders</h1>
      <h1 class="status-text">{{ total_orders }}</h1>
    </div>
  </div>
  <div class="p-5">
    <div class="bg-teal-two shadow rounded-md">
      <h1 class="status-title">Orders delivered</h1>
      <h1 class="status-text">{{ delivered_orders }}</h1>
    </div>
  </div>
  <div class="p-5">
    <div class="bg-teal-three shadow rounded-md">
      <h1 class="status-title">Orders Pending</h1>
      <h1 class="status-text">{{ pending_orders }}</h1>
    </div>
  </div>
</div>
