<div class="grid">

  <div role="wraper">
    <h1 class="table-title">PRODUCTS</h1>
    <div class="p-4">
      <div class="table-card">
        <table class="w-full">
          <tr>
            <th class="table-cell">Product</th>
            <th class="table-cell">Category</th>
            <th class="table-cell">Price</th>
          </tr>
          {% for product in products %}
            <tr>
              <td class="table-cell">{{ product.name }}</td>
              <td class="table-cell">{{ product.category }}</td>
              <td class="table-cell">{{ product.price }}</td>
            </tr>
          {% endfor %}
          </tr>
        </table>
        <div class="mt-4">
          {% if products.has_previous %}
            <a href="{% url 'accounts-products' %}?page=1" class="table-button-search">First</a>
            <a href="{% url 'accounts-products' %}?page={{ products.previous_page_number }}" class="table-button-search">Previous</a>
          {% endif %}
          <p class="inline p-2">Page {{ products.number }} of <a href=>{{ paginator.num_pages }}</a></p>
          {% if products.has_next %}
            <a href="{% url 'accounts-products' %}?page={{ products.next_page_number }}" class="table-button-search">Next</a>
            <a href="{% url 'accounts-products' %}?page={{ paginator.num_pages }}" class="table-button-search">Last</a>
          {% endif %}
        </div>
      </div>
    </div> 
  </div>

</div>